# Python Django
*.pyc
*~
__pycache__/
__init__
*.idea
*.log
*.pot
migrations


# Env
.env
myvenv/
venv/


# Database
db.sqlite3

# Media folder at project root
media
static

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100
